/*
* @TODO
*/
#hottable.handsontable {
  margin-bottom: 1em;
}

/* Bootstrap colors */
#hottable.handsontable tr.hrlator-success td {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}

#hottable.handsontable tr.hrlator-danger td,
#hottable.handsontable tr.hrlator-error td {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

#hottable.handsontable tr.hrlator-alert td {
  background-color: #fcf8e3;
  border-color: #fbeed5;
  color: #c09853;
}

/**
 * blink
 * // http://stackoverflow.com/questions/11578800/how-can-i-create-a-looping-fade-in-out-image-effect-using-css-3-transitions
 */
@-webkit-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

@-moz-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

@-o-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

@-ms-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

#hottable.handsontable tr.hrlator-validating td,
tbody tr.blink {
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 2s;

  -moz-animation-name: blinker;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-duration: 2s;

  -o-animation-name: blinker;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: ease-in-out;
  -o-animation-duration: 2s;

  -ms-animation-name: blinker;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: ease-in-out;
  -ms-animation-duration: 2s;

  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;

}

