/*
* @TODO
*/
#hottable.handsontable {
  margin-bottom: 1em;
}

/* Dropdown settings */
.navbar-nav div.dropdown-menu {
  width: 250px;
}

/* Bootstrap colors */
#hottable.handsontable tr.hrlator-success td {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}

#hottable.handsontable tr.hrlator-danger td,
#hottable.handsontable tr.hrlator-error td {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

#hottable.handsontable tr.hrlator-warning td,
#hottable.handsontable tr.hrlator-alert td {
  background-color: #fcf8e3;
  border-color: #fbeed5;
  color: #c09853;
}

/**
 * Overflow panel
 * http://stackoverflow.com/questions/14926577/why-is-table-content-extending-beyond-containing-bootstrap-span-and-overlapp
 */
.div-overflow-auto {
  overflow: auto;
}

/**
 * Spinner on loading data
 * http://www.elijahmanor.com/animating-a-twitter-bootstrap-icon-with-css3
 */
h1 .glyphicon.glyphicon-refresh {
  font-size: 0.5em;
}

.glyphicon-refresh-animate {
  animation-name: rotateThis;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotateThis {
  from { transform: scale( 1 ) rotate( 0deg );   }
  to   { transform: scale( 1 ) rotate( 360deg ); }
}

/**
 * Button style for uploads
 * http://www.abeautifulsite.net/blog/2013/08/whipping-file-inputs-into-shape-with-bootstrap-3
 */
.btn-file {
 position: relative;
 overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
/**
 * blink
 * http://stackoverflow.com/questions/11578800/how-can-i-create-a-looping-fade-in-out-image-effect-using-css-3-transitions
 */
@keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

#hottable.handsontable tr.hrlator-validating td,
tbody tr.blink, .blink {
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
}

