<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="HRLator">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>

<div class="navbar navbar-inverse">
<div class="container">
  <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://hrlator.humanitarianresponse.info"><i class="fa fa-phone"></i>HRLator</a>
        </div>
    </div>
</div>

<div class="container">
    {% block content %}{% endblock %}
    <footer>
        <p class="text-muted"><small>Running <a href="https://github.com/humanitarianresponse/hrlator">hrlator</a>
            The code for this demo can be found on <a href='https://github.com/humanitarianresponse/hrlator'>GitHub</a>.
            </small></p>
    </footer>
</div>

</body>
</html>
