{% extends '_page.twig' %}
{% block title %}HRLator{% endblock %}
{% block content %}
    <h1>HRLator Activities</h1>
    <strong>Expected data format</strong>
    <table>
      <tr>
        <th>Organizations</th>
        <th>Clusters</th>
        <th>Locations</th>
        <th>Title</th>
        <th>Primary Beneficiary</th>
        <th>Number of primary beneficiaries</th>
        <th>Status</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
      <tr>
        <td>Organization full name</td>
        <td>Cluster Full name</th>
        <td>PCode (with country code ISO2 in front of it)</td>
        <td>Type of primary beneficiary</td>
        <td>Number of primary beneficiaries</td>
        <td>ongoing, planned or completed</td>
        <td>eg 2013-10-01</td>
        <td>eg 2013-10-01</td>
      </tr>
    </table>
    <form class="form-horizontal" enctype="multipart/form-data" method="post" action="">
        <div class="form-group">
            <label for="csvfile" class="col-sm-3 control-label">CSV File</label>

            <div class="col-sm-5">
                <input type="file" class="form-control" id="csvfile" name='csvfile' required="required" accept="text/csv" />
            </div>
        </div>
        <!--<div class="form-group">
            <label for="country" class="col-sm-3 control-label">Default Country</label>

            <div class="col-sm-3">
                <input type="text" class="form-control" id="country" name='country' required="required"
                       placeholder="GB">
                <span class="help-block">An <a href='http://www.iso.org/iso/country_names_and_code_elements'>ISO
                        3166-1</a> two letter country code</span>
            </div>
        </div>
        <div class="form-group">
            <label for="language" class="col-sm-3 control-label">Locale for Geocoding</label>

            <div class="col-sm-3">
                <div class="form-group">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="language" name='language' placeholder="en">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="region" name='region' placeholder="GB">
                    </div>
                </div>
                <span class="help-block">An <a href='http://en.wikipedia.org/wiki/IETF_language_tag'>IETF language
                        tag</a> (defaults to en)</span>
            </div>

        </div>-->
        <div class="form-group">
            <div class="col-lg-offset-3 col-sm-8">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}
