{% extends '_page.twig' %}
{% block title %}HRLator{% endblock %}
{% block content %}

<div class="container">

  <h1>HRLator Activities <i class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></i></h1>
  <script>hrType ='{{ hrType }}';</script>

  <div class="row form-group" id="hrlator-control">
    <div class="col-lg-12">
      <span id="activities-upload" class="btn btn-large btn-default btn-file" disabled="disabled"><i class="glyphicon glyphicon-upload"></i> Load activities file<input type="file" id="csv-data" accept="text/csv,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"></span>
      <span id="activities-new" class="btn btn-large btn-default btn-file" disabled="disabled"><i class="glyphicon glyphicon-file"></i> Create activities file</span>
      <span id="activities-download" class="btn btn-large btn-default" disabled="disabled"><i class="glyphicon glyphicon-download"></i> Download activities file</span>
    </div>
  </div>

  <div class="row form-group">
    {% include 'hrlator-show.twig' %}
  </div>

</div>

<div class="container-fluid">

  <div class="row">
    <div class="col-lg-12">
      <div id="hottable"></div>
    </div>
  </div>

  <div class="row">
    <div id="data-sample" class="col-lg-offset-1 col-lg-10">
      <div class="panel panel-default">
        <div class="panel-heading">Expected data format</div>
        <div class="panel panel-body">
          <div class="div-overflow-auto">
            {% include 'table-activities.twig' %}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
