{% extends '_page.twig' %}
{% block title %}HRLator{% endblock %}
{% block content %}
    <h1>HRLator Home</h1>
    <form class="form-horizontal" enctype="multipart/form-data" method="post" action="">
        <div class="form-group">
            <label for="csvfile" class="col-sm-3 control-label">CSV File</label>

              <div class="col-sm-5">
                  <input type="file" class="form-control" id="csvContacts" name='csvContacts' required="required" accept="text/csv" />
              </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div id="hottable"></div>
              <div id="table"></div>
            </div>
          </div>
        <div class="form-group">
            <div class="col-lg-offset-3 col-sm-8">
                <button id="hrlator-download-csv" class="hrlator-button btn btn-default">Download CSV</button>
<!--
                <button type="submit" class="btn btn-default">Submit</button>
                <button id="contacts-upload" class="btn btn-default">Upload</button>
-->
            </div>
        </div>

<script>
  var hr_organizations = {{ organizations | raw }};
  var hr_clusters = {{ clusters | raw }};
  var hr_dictionary = {{ dictionary | raw }};
</script>

 <!--
        <div class="form-group">
            <label for="country" class="col-sm-3 control-label">Default Country</label>

            <div class="col-sm-3">
                <input type="text" class="form-control" id="country" name='country' required="required"
                       placeholder="GB">
                <span class="help-block">An <a href='http://www.iso.org/iso/country_names_and_code_elements'>ISO
                        3166-1</a> two letter country code</span>
            </div>
        </div>
        <div class="form-group">
            <label for="language" class="col-sm-3 control-label">Locale for Geocoding</label>

            <div class="col-sm-3">
                <div class="form-group">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="language" name='language' placeholder="en">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="region" name='region' placeholder="GB">
                    </div>
                </div>
                <span class="help-block">An <a href='http://en.wikipedia.org/wiki/IETF_language_tag'>IETF language
                        tag</a> (defaults to en)</span>
            </div>

        </div>
        <div class="form-group">
            <div class="col-lg-offset-3 col-sm-8">
                <button type="submit" class="btn btn-default">Submit</button>
                <button id="contacts-upload" class="btn btn-default">Upload</button>
            </div>
        </div>
-->
    </form>
{% endblock %}
