<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Organizations</th>
      <th>Clusters</th>
      <th>Locations</th>
      <th>Title</th>
      <th>Primary Beneficiary</th>
      <th>Number of primary beneficiaries</th>
      <th>Status</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Organization full name</td>
      <td>Cluster full name</th>
      <td>PCode (with country code ISO2 in front of it)</td>
      <td>Title of the activity</td>
      <td>Type of primary beneficiary</td>
      <td>Number of primary beneficiaries</td>
      <td>ongoing, planned or completed</td>
      <td>eg 2013-10-01</td>
      <td>eg 2013-10-01</td>
    </tr>
  </tbody>
</table>

